body {
    box-sizing: border-box;
    max-width: 600px;
    margin: 0 auto;
}

h1 {
    font-size: 45px;
    text-align: center;
}

h2 {
    text-align: center;
}

.heart {
    width: 20px;
    height: 20px;
}

svg.heart path {
    fill: #dc1c26;
}

.hidden {
    display: none;
}