body {
    box-sizing: border-box;
    max-width: 600px;
    margin: 0 auto;
    font-family: 'Titillium Web', Helvetica, system-ui, sans-serif;
    background-color: #ACC8E5;
}

h1 {
    font-size: 45px;
    text-align: center;
    color: #112A46;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

h2 {
    text-align: center;
    color: #112A46; 
    text-transform: uppercase;
    font-family: Helvetica, system-ui, sans-serif;
}

h3 {
    text-align: center;
    color: #112A46;
    text-transform: uppercase;
    font-family: Helvetica, system-ui, sans-serif;
}

.game-info {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    margin-bottom: 2rem;
    align-items: center;
    width: 100%;
    background-color: white;
    color: #112A46;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
}

#question {
    font-size: 22px;
    text-align: center;
    color: #112A46;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

#question strong {
    font-size: 30px;
    color: #112A46;
    display: block;
    text-transform: uppercase;
    letter-spacing: 4px;
    margin-top: 10px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

#options {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    margin: 2rem 0 1rem;
}

.option {
    font-size: 18px;
    padding: 30px;
    cursor: pointer;
}

.option:disabled {
    cursor: auto;
}

.show-correct-answer {
    background-color: green;
    color: white;
    font-size: 25px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.show-incorrect-answer {
    background-color: rgb(157, 8, 8);
    color: white
}

.category-container--buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.game-category {
    padding: 10px 20px;
    font-size: 25px;
    min-height: 60dvh;
    appearance: none;
    border: 2px solid black;
    color: purple;
    cursor: pointer;
    -webkit-text-stroke: 1px black;
}

.game-category span {
    display: block;
    font-weight: bold;
    font-size: 27px;
    font-family: 'Kalnia Glaze', Helvetica, sans-serif;
}

#lives {
    display: flex;
    gap: 1rem;
}

.heart {
    width: 20px;
    height: 20px;
}

svg.heart path {
    fill: #dc1c26;
}

#next, #restart { 
    width: 100%;
    margin-top: 1rem;
    min-height: 110px;
    font-size: 20px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
}

#result {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    color: #112A46;
    font-size: 35px;
    padding: 2px;
    -webkit-text-stroke: 1px black;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.hidden {
    display: none;
}