body {
    box-sizing: border-box;
    max-width: 600px;
    margin: 0 auto;
    font-family: Helvetica, sans-serif;
}

h1 {
    font-size: 45px;
    text-align: center;
}

h2 {
    text-align: center;
}

#question {
    font-size: 22px;
    text-align: center;
}

#question strong {
    font-size: 30px;
    display: block;
    text-transform: uppercase;
    letter-spacing: 4px;
    margin-top: 10px;
}

.heart {
    width: 20px;
    height: 20px;
}

svg.heart path {
    fill: #dc1c26;
}

.hidden {
    display: none;
}